.user-input-container {
  border-radius: 3px;
  border-style: solid;
  border-color: #c7af8e;
  border-width: 2px;
  margin-left: 2%;
  position: absolute;
  padding-left: 2%;
  top: 50%;
  transform: translateY(-50%);
  width: 30%;
  height: 90%;
}
