@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}

html {
  font-family: 'Helvetica', sans-serif;
}

body {
  margin: 0;
  background-color: #EAE7DC;
}
